body {
    background-image: linear-gradient(90deg, burlywood, rgb(181, 140, 104), burlywood);
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

h1 {
    color: rgb(92, 66, 66);
    text-shadow: 1px 1px wheat;
    font-family: cursive;
    
}

#Game {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-shrink: 1;
}

p {
    font-weight: bold;
    font-family: cursive;
    color: white;
    text-shadow: 2px 2px black;
    font-size: x-large;
}
#name {
    text-decoration: underline;
    color: rgb(180, 17, 49);
}

#button {
    font-size: x-large;
    border-radius: 10%;
    background-color: grey;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px black;
    font-family: cursive;
}

#button:hover {
    background-color: silver;
    color: red;
}

#Choice {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;

}

#bat {
    border-radius: 50%;
    border-color: rgba(165, 42, 42, 0.837);
}
   #but {
    border-radius: 10%;
    border-color: white;
   }

   #bot {
    border-top-left-radius: 35%;
    border-bottom-left-radius: 30%;
   }

#Choice div {
    background-color: red;
    border: 2vw solid black;
    padding: 2%;
  
    font-family: cursive;
    font-size: large;
    color: white;
    font-weight: bold;
}

#Choice .Rock {
    border-radius: 50%;
    font-family: Arial;
    border-color: gray;
    background-color: rgb(95, 89, 89);
    text-shadow: 1px 1px black;
   
}

#Choice .Rock:hover {
    border-color: rgb(101, 96, 96);
    background-color: rgb(215, 206, 206);
   
}

#Choice .Paper {
    border-radius: 10%;
   font-family: cursive;
   border-color: rgb(184, 181, 181);
   color: rgb(79, 76, 76);
   background-image: linear-gradient(white, grey);
}

#Choice .Paper:hover {
border-color: rgba(91, 89, 89, 0.611);
}

#Choice .Scissors {
   border-top-left-radius: 35%;
   border-bottom-left-radius: 30%;
   font-family: monospace;
   border-color: silver;
   background-color: crimson;
   

}

#Choice .Scissors:hover {
    border-color: rgb(83, 82, 82);
    background-color: brown;
}
#Why {
    text-align: center;
    background-color: rgb(13, 8, 8);
    color: rgb(153, 18, 45);
    width: 50%;
}

#Dashboard {
    display: flex;
    width: 90%;
    justify-content: space-around;
    font-size: x-large;
    font-weight: bold;
    font-family: cursive;
    flex-direction: row;
}

.play {
    
    font-style: italic;
    color: brown;
    text-shadow: 1px 1px black;
}

#ptag {
    color: black;
    text-shadow: 1px 1px crimson;
}

#ptags {
    color: rgb(236, 220, 220);
    text-shadow: 1px 1px black;
}

button { 
    background-color: rgb(33, 33, 33);
    border: 1px solid rgb(74, 71, 71);
}